
#title,ul,ol,.item,img,.descript{
    font-size: larger;    
    border-radius: 5px;
    border: solid black 1px; 
}

#title{
    letter-spacing:15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
    background: linear-gradient(130deg, rgba(175,81,238,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,132,1) 100%);
    font-size: x-large;
}


ul,ol{
    background-color: rgb(228, 215, 215);
    font-size: x-large;
    text-align: left;
    padding: 10px;
    padding-left: 2em;
}
img{
    width: 100%;
    margin: 0px;
    min-width: 100%;
    padding: 0px;
}

#boxes{
    display: grid;
    grid-template-columns:repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);    
    size: 50%;
    gap: 50px;
}

body{
    background-image:url("white-contemporany-kitchen-1920x1080-wallpaper-11923-2096870141.jpg");
    padding: 20px;
}

* {
    box-sizing: border-box;
    font-family:monospace;
    position: relative;
}

.des{
    background-color: rgb(228, 215, 215);
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: x-large;
    padding-left: 2em;
}

body > a{
    background: linear-gradient(322deg, rgba(81,125,238,1) 0%, rgba(0,255,194,1) 48%, rgba(255,204,132,1) 86%);
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bolder;
    font-size: larger;  
    text-align: center;
    width: fit-content;
}